<html>
  <head>
    <link rel="stylesheet" href="/forms.css">
    <link rel="icon" type="image/x-icon" href="/icon.svg">
  </head>
  <body>
    <div class="content">
      
        <form method="POST" action="/new">
            <h1>Add new item</h1>
            <div class="inputBlock">
                <label for="send">Name:</label>
                <input required name="name"type="text">
            </div>

            <div class="inputBlock">
                <label for="send">Category:</label>
                <select name="category" id="options">
                    <% categories.map(c=>{ %>
                        <option value='<%=c%>'><%=c%></option>
                    <% }) %>
                </select>
            </div>

            <div class="inputBlock">
                <label for="send">Description:</label>
                <input required name="desc" type="text">
            </div>

            <div class="inputBlock">
                <label for="send">Price:</label>
                <input required name="price" type="number" >
            </div>

            <div class="inputBlock">
                <label for="send">Stock:</label>
                <input required name="stock" type="number">
            </div>

            <button type="submit">Submit</button>
         </form>
         
    </div>
        <button onclick="location.href='/'">Back</button>

    </div>
  </body>
</html>