<html>
  <head>
    <link rel="stylesheet" href="/forms.css">
    <link rel="icon" type="image/x-icon" href="/icon.svg">
  </head>
  <body>
    <div class="content">
        <form method="POST" action="/delete/<%=id%>">
            <h1>Admin password is required for this action</h1>
            <div class="inputBlock">
                <input name="password" type="password">
            </div>
            <button type="submit">Submit</button>
         </form>
         
    </div>
    <button onclick="location.href='/'">Back</button>

    </div>
  </body>
</html>