<html>
  <head>
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <div class="content">
        <button onclick="location.href='/'">Menu</button>
        <h1>Categories</h1>
        <ol class="Items">
            <% categories.map(c=>{ %>
            <button class="itemBlock" onclick="location.href='/categories/<%=c%>'">
                <h2><%=c%></h2>
            </button>
            <%      }) %>
            
        </ol>
    </div>

    </div>
  </body>
</html>